$font: "Helvetica Neue";

// Colors:
$white: #fff;
$black: #252525;
$maroon: #83333e;
$off-white: #f2f4f5;
$primary-color: #9A97F3;
$heading-color: #818cab;
$font-color: #e1e1ff;
$theme-blue: #14B6D4;

html,body {
    font-family: $font;
    font-size: 16px;
    margin: 0 0;
    background-color: $black;
    padding: 0;
    height: 100%;
    color: $font-color;
    h2 {
        color: $heading-color;
        font-size: 2rem;
    }
}

body.light{
    $font-color: #424242;
    $primary-color:#302AE6;
    $heading-color: #292922;
    $secondary-color: #536390;
    background-color: $off-white;
    color: $font-color;
    h1 {
        color: $heading-color;
    }
    button {
        opacity: 1;
    }
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px;
        min-width: 976px;
    }
    @media (max-width: 976px){
        width: 768px;
        min-width: 768px;
    }
}

.content {
    width: 100%;
    height: 84vh;
}

.link {
    text-decoration: none;
    color: teal;
}

.link:hover{
    color: #2a6592;
}

.section {
    width: 100%;
    height: 28vh;
    background-color: #414141;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-alt {
    width: 100%;
    height: 28vh;
    background-color: #313131;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.text{
    width: 75%;
    height: 90%;
    max-width: 73%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    display: inline-block;
    position: relative;
}

.left {
    padding-right: 1%;
    text-align: left;
}

.right {
    padding-left: 1%;
    text-align: right;
}

.gallery {
    width: 20%;
    height: 24vh;
    position: relative;
}

.gallery-image {
    width: 100%;
    height: 100%;
}

// For sake of first component on page to address the positioning of the navbar
.first {
    margin-top: 8vh;
}

// Arrow styling for carousel component
.slide-arrow {
	color: #d69eff;
	cursor: pointer;
	font-size: 1.5rem;
    position: absolute;
	top: 45%;
}

.slide-arrow:hover {
    color: #5a009c;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}
