$font: "Helvetica Neue";


// Colors:
$white: #fff;
$black: #252525;
$maroon: #83333e;
$off-white: #f2f4f5;

html,body {
    font-family: $font;
    font-size: 16px;
    margin: 0 0;
    background-color: $black;
    height: 100%;
}

body.light{
    background-color: $off-white;
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px;
        min-width: 976px;
    }
    @media (max-width: 976px){
        width: 768px;
        min-width: 768px;
    }
}

.content {
    position: relative;
    margin-top:90px;
}


// body {
//     background-color: #252525;
//     color: white;
// }