$font: "Helvetica Neue";


// Colors:
$white: #fff;
$black: #252525;
$maroon: #83333e;
$off-white: #f2f4f5;
$primary-color: #9A97F3;
$heading-color: #818cab;
$font-color: #e1e1ff;

html,body {
    font-family: $font;
    font-size: 16px;
    margin: 0 0;
    background-color: $black;
    padding: 0;
    height: 100%;
    color: $font-color;
    h1 {
        color: $heading-color;
    }
}

body.light{
    $font-color: #424242;
    $primary-color:#302AE6;
    $heading-color: #292922;
    $secondary-color: #536390;
    background-color: $off-white;
    color: $font-color;
    h1 {
        color: $heading-color;
    }
    button {
        opacity: 1;
    }
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px){
        width: 976px;
        min-width: 976px;
    }
    @media (max-width: 976px){
        width: 768px;
        min-width: 768px;
    }
}

.content {
    position: relative;
    padding-top:30px;
    height: 100%;
    width: 100%;
    // margin: auto;
    // padding-bottom: 90px;
}

.section {
    width: 100%;
    height: 33vh;
    background-color: dimgray;
}

.section-alt {
    width: 100%;
    height: 33vh;
    background-color: slategray;
}
